<template>
  <q-page class="q-pa-md">
    <div class="text-primary text-h4 text-center q-mb-sm"><q-icon name="supervisor_account" size="xl"/>DIRECTEURS</div>
    <q-table
      :grid="$q.screen.xs"
      :loading="loading"
      :columns="columns"
      :data="directors.results"
      :filter="search"
      :pagination.sync="pagination"
      @request="onRequest"
      row-key="name"
      binary-state-sort
    >
      <template v-slot:top-left>
        <q-btn
          :disable="loggedAs.role !== 'admin'"
          dense
          color="blue-8"
          icon="add"
          label="Ajouter un directeur"
          no-caps
          @click="openDialog"
        />

        <div class="q-pa-sm q-gutter-sm">
          <q-dialog v-model="show_dialog">
            <q-card>
              <q-card-section class="flex">
                <div class="text-h6">Nouveau directeur!</div>
                <q-space />
                <q-btn icon="close" flat round dense v-close-popup />
              </q-card-section>

              <form @submit.prevent.stop="onAdd">
                <q-card-section>
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 q-pa-lg"><q-input ref="firstname" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="editedItem.firstname" label="Nom"></q-input></div>
                    <div class="col-xs-12 col-sm-4 q-pa-lg"><q-input ref="lastname" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="editedItem.lastname" label="Prenoms"></q-input></div>
                    <div class="col-xs-12 col-sm-4 q-pa-lg"><q-input ref="description" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="editedItem.description" label="Description"></q-input></div>
                    <div class="col-xs-12 col-sm-4 q-pa-lg"><q-input type="email" ref="mail" :rules="[val => val && val.length > 0 || 'Champ obligatoire', isValidEmail]" v-model="editedItem.mail" label="Mail"></q-input></div>
                    <div class="col-xs-12 col-sm-4 q-pa-lg"><q-input ref="password" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="editedItem.password" type="password" label="Mot de passe"></q-input></div>
                  </div>
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Confirmer" type="submit" color="primary"></q-btn>
                </q-card-actions>
              </form>
            </q-card>
          </q-dialog>
        </div>
      </template>

      <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="search" placeholder="Chercher un directeur">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="firstname" :props="props">
            {{ props.row.firstname }}
          </q-td>
          <q-td key="lastname" :props="props">
            {{ props.row.lastname }}
          </q-td>
          <q-td key="description" :props="props">
            {{ props.row.description }}
          </q-td>
          <q-td key="mail" :props="props">
            {{ props.row.mail }}
          </q-td>
          <q-td key="actions" :props="props">
            <q-btn :disable="loggedAs.role !== 'admin'" class="q-mr-sm" color="blue" label="Modifier" @click="editItem(props.row)" size=sm no-caps></q-btn>
            <q-btn :disable="loggedAs.role !== 'admin'" color="red" label="Supprimer" @click="onRemove(props.row)" size=sm no-caps></q-btn>
          </q-td>
        </q-tr>
      </template>

      <template v-slot:item="props">
          <div
            class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
            :style="props.selected ? 'transform: scale(0.95);' : ''"
          >
            <q-card class="q-pa-sm">
              <q-list dense>
                <div class="row q-ma-sm" v-for="col in props.cols" :key="col.name">
                  <div class="col-12">
                    <q-item-label caption>{{ col.label }}</q-item-label>
                  </div>
                  <div>
                    <q-td v-if="col.name === 'actions'" key="actions" :props="props">
                      <q-btn :disable="loggedAs.role !== 'admin'" class="q-mr-sm" color="blue" label="Modifier" @click="editItem(props.row)" size=sm no-caps></q-btn>
                      <q-btn :disable="loggedAs.role !== 'admin'" color="red" label="Supprimer" @click="onRemove(props.row)" size=sm no-caps></q-btn>
                    </q-td>
                    <q-item-label v-else :class="col.classes ? col.classes : ''">{{ col.value }}</q-item-label>
                  </div>
                </div>
              </q-list>
            </q-card>
          </div>
      </template>
    </q-table>
  </q-page>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'PageIndex',
  data() {
    return ({
      loading: false,
      search: '',
      pagination: {
        sortBy: 'desc',
        descending: false,
        page: 1,
        rowsPerPage: 5,
        rowsNumber: 10
      },
      editedDirector: null,
      listedEmployesFiliale: {},
      listedEmployes: [],
      show_dialog: false,
      show_list_employes: false,
      editedItem: {
        firstname: "",
        lastname: "",
        description: "",
        mail: "",
        password: "",
      },
      columns: [
        { name: 'firstname', label: 'Nom', field: 'firstname' },
        { name: 'lastname', label: 'Prenoms', field: 'lastname' },
        { name: 'description', label: 'Description', field: 'description' },
        { name: 'mail', label: 'Mail', field: 'mail' },
        { name: 'actions', label: 'Actions', field: 'actions' }
      ]
    })
  },
  computed: {
    ...mapGetters('directors', ['directors']),
    ...mapGetters('auth', ['loggedAs']),
  },
  methods: {
    ...mapActions('directors', ['createDirector', 'getDirectors', 'deleteDirector', 'modifyDirector']),
    openDialog() {
      this.editedDirector = null;
      this.resetDirectorFields();
      this.show_dialog = true;
    },
    onAdd() {
      const { editedItem, editedDirector } = this;
      this.loading = true;

      // Validate the form
      this.$refs.firstname.validate();
      this.$refs.lastname.validate();
      this.$refs.description.validate();
      this.$refs.mail.validate();
      this.$refs.password.validate();
      if (
        this.$refs.firstname.hasError ||
        this.$refs.lastname.hasError ||
        this.$refs.description.hasError ||
        this.$refs.mail.hasError ||
        this.$refs.password.hasError
      ) {
        this.loading = false;
        return;
      }

      if(!editedDirector) {
        this.createDirector({
          ...editedItem,
          mail: editedItem.mail.trim().toLowerCase(),
          role: editedItem.role || 'director'}).then(() => {
          this.onRequest({ pagination: this.pagination, filter: this.search });
          this.$q.notify({ type: 'positive', message: 'Directeur créé avec succès!' });
          this.loading = false;
          this.resetDirectorFields();
        }).catch(error => {
          this.$q.notify({ type: 'negative', message: 'Erreur lors de la création du Directeur!' });
          this.loading = false;
        });
      } else {
        this.modifyDirector({ id: editedDirector, data: { ...editedItem, mail: editedItem.mail.trim().toLowerCase() } }).then(() => {
          this.onRequest({ pagination: this.pagination, filter: this.search });
          this.$q.notify({ type: 'positive', message: 'Directeur modifiée avec succès!' });
          this.loading = false;
          this.resetDirectorFields();
        }).catch(error => {
          this.$q.notify({ type: 'negative', message: 'Erreur lors de la modification du Directeur!' });
          this.loading = false;
        });
      }
      this.show_dialog = false;
    },
    onRemove({ id }) {
      if(window.confirm('Voulez vous vraiment supprimé ce directeur ?')) {
        this.loading = true;
        this.deleteDirector(id).then(() => {
          this.onRequest({ pagination: this.pagination, filter: this.search });
          this.$q.notify({ type: 'positive', message: 'Directeur supprimée avec succès!' });
          this.loading = false;
        }).catch(error => {
          this.$q.notify({ type: 'negative', message: 'Erreur lors de la suppression du directeur!' });
          this.loading = false;
        });
      }
    },
    editItem(director) {
      this.editedDirector = director.id;
      this.editedItem = Object.assign({}, {...director, password: ""});
      this.show_dialog = true;
    },
    onRequest({ filter, pagination }) {
      this.loading = true;
      this.getDirectors({ filter, ...pagination }).then(({count}) => {
        this.loading = false;
        this.pagination.rowsNumber = count;
        this.pagination.page = pagination.page;
        this.pagination.rowsPerPage = pagination.rowsPerPage;
      })

    },
    resetDirectorFields() {
        this.editedItem = {
        firstname: "",
        lastname: "",
        description: "",
        mail: "",
        password: "",
      }
    },
    isValidEmail (val) {
    const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
    return emailPattern.test(val) || 'Mail incorrect';
    }
  },
  created() {
    this.onRequest({ pagination: this.pagination, filter: this.search });
  }
}
</script>
