<template>
  <q-page class="q-pa-md">
    <div class="text-primary text-h4 text-center q-mb-sm"><q-icon name="person_search" size="xl"/>EMPLOYES</div>
    <q-table
      :grid="$q.screen.xs"
      :loading="loading"
      :columns="columns"
      :data="employes.results"
      :filter="filters"
      :pagination.sync="pagination"
      @request="onRequest"
      row-key="name"
      binary-state-sort
    >
      <template v-slot:top-left>
        <q-btn
          dense
          color="blue-8"
          icon="add"
          label="Ajouter un employé"
          no-caps
          @click="openDialog"
        />

        <div class="q-pa-sm q-gutter-sm">
          <q-dialog v-model="show_dialog" full-width>
            <q-card>
              <q-card-section class="flex">
                <div class="text-h6">Nouvel employé!</div>
                <q-space />
                <q-btn icon="close" flat round dense v-close-popup />
              </q-card-section>

              <form @submit.prevent="onAdd">
                <q-card-section>
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 q-pa-lg"><q-input ref="firstname" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="editedItem.firstname" label="Nom de l'employé"></q-input></div>
                    <div class="col-xs-12 col-sm-4 q-pa-lg"><q-input ref="lastname" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="editedItem.lastname" label="Prénom de l'employé"></q-input></div>
                    <div class="col-xs-12 col-sm-4 q-pa-lg">
                        <q-input ref="birthdate" :rules="['date']" v-model="editedItem.birthdate" mask="date" placeholder="Date de naissance">
                            <template v-slot:append>
                                <q-icon name="event" class="cursor-pointer">
                                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                    <q-date v-model="editedItem.birthdate">
                                    <div class="row items-center justify-end">
                                        <q-btn v-close-popup label="Close" color="primary" flat />
                                    </div>
                                    </q-date>
                                </q-popup-proxy>
                                </q-icon>
                            </template>
                        </q-input>
                    </div>
                    <div class="col-xs-12 col-sm-4 q-pa-lg"><q-input ref="place_of_birth" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="editedItem.place_of_birth" label="Lieu de naissance"></q-input></div>
                    <div class="col-xs-12 col-sm-4 q-pa-lg"><q-input ref="nationality" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="editedItem.nationality" label="Nationnalitée"></q-input></div>
                    <div class="col-xs-12 col-sm-4 q-pa-lg">
                        <q-select
                            ref="languages"
                            :rules="[val => val && val.length > 0 || 'Champ obligatoire']"
                            v-model="editedItem.languages"
                            multiple
                            :options="['Francais', 'Anglais', 'Allemand', 'Espagnol', 'Portugais', 'Russe', 'Chinois', 'Autres']"
                            label="Languages (Choix multiple)"
                            style="width: 250px"
                        />
                    </div>
                    <div class="col-xs-12 col-sm-4 q-pa-lg"><q-input ref="cnss_number" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="editedItem.cnss_number" label="Numéro CNSS"></q-input></div>
                    <div class="col-xs-12 col-sm-4 q-pa-lg"><q-input ref="identity_number" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="editedItem.identity_number" label="Numéro de la pièce d'identité"></q-input></div>
                    <div class="col-xs-12 col-sm-4 q-pa-lg">
                        <q-select ref="filiale" :rules="[val => val || 'Champ obligatoire']" v-model="editedItem.filiale" :options="selectFiliales" label="Filiale de l'employé" />
                    </div>
                  </div>
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Confirmer" type="submit" color="primary"></q-btn>
                </q-card-actions>
              </form>
            </q-card>
          </q-dialog>
        </div>
      </template>

      <template v-slot:top-right>
        <q-select style="width:300px" class="q-mr-lg" v-model="filiale" :options="[{ label: 'Toutes filiales', value: 0}, ...selectFiliales]" label="Filtrer par filiales" />
        <q-input borderless dense debounce="300" v-model="search" placeholder="Chercher un employé">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="firstname" :props="props">{{ props.row.firstname }}</q-td>
          <q-td key="lastname" :props="props">{{ props.row.lastname }}</q-td>
          <q-td key="birthdate" :props="props">{{ props.row.birthdate | plainDate }}</q-td>
          <q-td key="place_of_birth" :props="props">{{ props.row.place_of_birth }}</q-td>
          <q-td key="nationality" :props="props">{{ props.row.nationality }}</q-td>
          <q-td key="languages" :props="props">
            <q-chip size="sm" v-for="(language, index) in props.row.languages" :key="index" square icon="language">{{language}}</q-chip>
          </q-td>
          <q-td key="cnss_number" :props="props">{{ props.row.cnss_number }}</q-td>
          <q-td key="identity_number" :props="props">{{ props.row.identity_number }}</q-td>
          <q-td key="filiale_id" :props="props">
              <!-- Filiale's name -->
              <q-chip size="sm" square icon="sensor_window" color="teal-3" text-color="grey-9">{{ props.row.filialename }}</q-chip>
          </q-td>

          <q-td key="actions" :props="props">
            <q-btn class="q-mr-sm" color="blue" label="Modifier" @click="editItem(props.row)" size=sm no-caps></q-btn>
            <q-btn color="red" label="Supprimer" @click="onRemove(props.row)" size=sm no-caps></q-btn>
          </q-td>
        </q-tr>
      </template>

      <template v-slot:item="props">
          <div
            class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
            :style="props.selected ? 'transform: scale(0.95);' : ''"
          >
            <q-card class="q-pa-sm">
              <q-list dense>
                <div class="row q-ma-sm" v-for="col in props.cols" :key="col.name">
                  <div class="col-12">
                    <q-item-label caption>{{ col.label }}</q-item-label>
                  </div>
                  <div>
                    <q-item-label v-if="col.name === 'actions'" :props="props">
                      <q-btn class="q-mr-sm" color="blue" label="Modifier" @click="editItem(props.row)" size=sm no-caps></q-btn>
                      <q-btn color="red" label="Supprimer" @click="onRemove(props.row)" size=sm no-caps></q-btn>
                    </q-item-label>
                    <q-item-label v-else-if="col.name === 'birthdate'" :props="props">
                      {{ col.value | plainDate }}
                    </q-item-label>
                    <q-item-label v-else-if="col.name === 'languages'" :props="props">
                      <q-chip size="sm" v-for="(language, index) in col.value" :key="index" square icon="language">{{language}}</q-chip>
                    </q-item-label>
                    <q-item-label v-else-if="col.name === 'filiale_id'" :props="props">
                      <q-chip size="sm" square icon="sensor_window" color="teal-3" text-color="grey-9">{{ props.row.filialename }}</q-chip>
                    </q-item-label>
                    <q-item-label v-else :class="col.classes ? col.classes : ''">{{ col.value }}</q-item-label>
                  </div>
                </div>
              </q-list>
            </q-card>
          </div>
      </template>
    </q-table>
  </q-page>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'PageIndex',
  data() {
    return ({
      loading: false,
      search: '',
      filiale: { label: 'Toutes filiales', value: 0},
      pagination: {
        sortBy: 'desc',
        descending: false,
        page: 1,
        rowsPerPage: 5,
        rowsNumber: 10
      },
      editedEmploye: null,
      show_dialog: false,
      show_delete_dialog: false,
      editedItem: {
        firstname: "",
        lastname: "",
        birthdate: "",
        place_of_birth: "",
        nationality: "",
        languages: [],
        cnss_number: "",
        identity_number: "",
        filiale: "",
      },
      columns: [
        { name: 'firstname', label: 'Nom', field: 'firstname' },
        { name: 'lastname', label: "Prénoms", field: 'lastname' },
        { name: 'birthdate', label: "Date de naissance", field: 'birthdate' },
        { name: 'place_of_birth', label: "Lieu de naissance", field: 'place_of_birth' },
        { name: 'nationality', label: "Nationnalité", field: 'nationality' },
        { name: 'languages', label: "Languages", field: 'languages' },
        { name: 'cnss_number', label: "Numéro CNSS", field: 'cnss_number' },
        { name: 'identity_number', label: "Numéro piece identité", field: 'identity_number' },
        { name: 'filiale_id', label: "Filiale", field: 'filiale_id' },
        { name: 'actions', label: 'Actions', field: 'actions' }
      ]
    })
  },
  computed: {
    ...mapGetters('filiales', ['filiales']),
    ...mapGetters('employes', ['employes']),
    filters() {
        return {
            filter: this.search,
            filterByFiliale: this.filiale.value
        }
    },
    selectFiliales() {
        return this.filiales.results.map(filiale => ({
            label: filiale.name,
            value: filiale.id
        }))
    }
  },
  methods: {
    ...mapActions('filiales', ['getFiliales']),
    ...mapActions('employes', ['getEmployes', 'createEmploye', 'removeEmploye', 'modifyEmploye']),
    openDialog() {
      this.getFiliales({ filter: "", page: 1, rowsPerPage: 0 });
      this.resetEmployeFields();
      this.editedEmploye = null;
      this.show_dialog = true;
    },
    onAdd() {
      const { editedItem, editedEmploye } = this;
      this.loading = true;

      // Validate the form
      this.$refs.firstname.validate();
      this.$refs.lastname.validate();
      //this.$refs.birthdate.validate();
      this.$refs.place_of_birth.validate();
      this.$refs.nationality.validate();
      this.$refs.languages.validate();
      this.$refs.cnss_number.validate();
      this.$refs.identity_number.validate();
      this.$refs.filiale.validate();
      if (
        this.$refs.firstname.hasError ||
        this.$refs.lastname.hasError ||
        this.$refs.birthdate.hasError ||
        this.$refs.place_of_birth.hasError ||
        this.$refs.nationality.hasError ||
        this.$refs.languages.hasError ||
        this.$refs.cnss_number.hasError ||
        this.$refs.identity_number.hasError ||
        this.$refs.filiale.hasError
      ) {
        this.loading = false;
        return;
      }

      if(!editedEmploye) {
        this.createEmploye({ ...editedItem, filiale_id: editedItem.filiale.value }).then(() => {
          this.onRequest({ pagination: this.pagination, filter: { filter:this.search, filterByFiliale: this.filiale.value} });
          this.$q.notify({ type: 'positive', message: 'Employé créé avec succès!' });
          this.loading = false;
          this.resetEmployeFields();
        }).catch(error => {
          this.$q.notify({ type: 'negative', message: "Erreur lors de la création de l'employé!" });
          this.loading = false;
        });
      } else {
        this.modifyEmploye({ id: editedEmploye, data: {...editedItem, filiale_id: editedItem.filiale.value} }).then(() => {
          this.onRequest({ pagination: this.pagination, filter: { filter:this.search, filterByFiliale: this.filiale.value} });
          this.$q.notify({ type: 'positive', message: 'Employé modifiée avec succès!' });
          this.loading = false;
          this.resetEmployeFields();
        }).catch(error => {
          this.$q.notify({ type: 'negative', message: "Erreur lors de la modification de la l'employé!" });
          this.loading = false;
        });
      }
      this.show_dialog = false;
    },
    onRemove({ id }) {
      if(window.confirm('Voulez vous vraiment supprimé cet employé ?')) {
        this.loading = true;
        this.removeEmploye(id).then(() => {
          this.onRequest({ pagination: this.pagination, filter: { filter:this.search, filterByFiliale: this.filiale.value} });
          this.$q.notify({ type: 'positive', message: 'Employé supprimé avec succès!' });
          this.loading = false;
        }).catch(error => {
          this.$q.notify({ type: 'negative', message: "Erreur lors de la suppression de l'employé!" });
          this.loading = false;
        });
      }
    },
    editItem(employe) {
      this.editedEmploye = employe.id;
      this.editedItem = Object.assign({}, {...employe, filiale: {value: employe.filiale_id, label: employe.filialename}});
      this.show_dialog = true;
    },
    resetEmployeFields() {
        this.editedItem = {
        firstname: "",
        lastname: "",
        birthdate: "",
        place_of_birth: "",
        nationality: "",
        languages: [],
        cnss_number: "",
        identity_number: "",
        filiale: "",
      }
    },
    onRequest({ filter, pagination }) {
      this.loading = true;
      this.getEmployes({ ...filter, ...pagination }).then(({count}) => {
        this.loading = false;
        this.pagination.rowsNumber = count;
        this.pagination.page = pagination.page;
        this.pagination.rowsPerPage = pagination.rowsPerPage;
      })

    }
  },
  created() {
    this.onRequest({ pagination: this.pagination, filter: { filter:this.search, filterByFiliale: this.filiale.value} });
  }
}
</script>
