<template>
  <q-page class="q-pa-md">
    <div class="text-primary text-h4 text-center q-mb-sm"><q-icon name="insert_emoticon" size="xl"/>ENFANTS</div>
    <q-table
      :grid="$q.screen.xs"
      :loading="loading"
      :columns="columns"
      :data="childs.results"
      :filter="filters"
      :pagination.sync="pagination"
      @request="onRequest"
      row-key="name"
      binary-state-sort
    >
      <template v-slot:top-left>
        <q-btn
          dense
          color="blue-8"
          icon="add"
          label="Ajouter un enfant"
          no-caps
          @click="openDialog"
        />

        <div class="q-pa-sm q-gutter-sm">
          <q-dialog v-model="show_dialog" full-width>
            <q-card>
              <q-card-section class="flex">
                <div class="text-h6">Nouvel enfant!</div>
                <q-space />
                <q-btn icon="close" flat round dense v-close-popup />
              </q-card-section>

              <form @submit.prevent="onAdd">
                <q-card-section>
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 q-pa-lg"><q-input ref="firstname" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="editedItem.firstname" label="Nom de l'enfant"></q-input></div>
                    <div class="col-xs-12 col-sm-4 q-pa-lg"><q-input ref="lastname" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="editedItem.lastname" label="Prénom de l'enfant"></q-input></div>
                    <div class="col-xs-12 col-sm-4 q-pa-lg">
                        <q-select ref="employe" :rules="[val => val || 'Champ obligatoire']" v-model="editedItem.employe" :options="selectEmployes" label="Parent de l'enfant" />
                    </div>
                  </div>
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Confirmer" type="submit" color="primary"></q-btn>
                </q-card-actions>
              </form>
            </q-card>
          </q-dialog>
        </div>
      </template>

      <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="search" placeholder="Chercher un enfant">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="firstname" :props="props">{{ props.row.firstname }}</q-td>
          <q-td key="lastname" :props="props">{{ props.row.lastname }}</q-td>
          <q-td key="employe_id" :props="props">
              <!-- Employe's name -->
              <q-chip size="sm" square icon="person_search" color="teal-3" text-color="grey-9">{{ `${props.row.employefirstname} ${props.row.employelastname}` }}</q-chip>
          </q-td>

          <q-td key="actions" :props="props">
            <q-btn class="q-mr-sm" color="blue" label="Modifier" @click="editItem(props.row)" size=sm no-caps></q-btn>
            <q-btn color="red" label="Supprimer" @click="onRemove(props.row)" size=sm no-caps></q-btn>
          </q-td>
        </q-tr>
      </template>

      <template v-slot:item="props">
          <div
            class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
            :style="props.selected ? 'transform: scale(0.95);' : ''"
          >
            <q-card class="q-pa-sm">
              <q-list dense>
                <div class="row q-ma-sm" v-for="col in props.cols" :key="col.name">
                  <div class="col-12">
                    <q-item-label caption>{{ col.label }}</q-item-label>
                  </div>
                  <div>
                    <q-item-label v-if="col.name === 'actions'" :props="props">
                      <q-btn class="q-mr-sm" color="blue" label="Modifier" @click="editItem(props.row)" size=sm no-caps></q-btn>
                      <q-btn color="red" label="Supprimer" @click="onRemove(props.row)" size=sm no-caps></q-btn>
                    </q-item-label>
                    <q-item-label caption v-else-if="col.name === 'employe_id'" :props="props">
                      <q-chip size="sm" square icon="person_search" color="teal-3" text-color="grey-9">{{ `${props.row.employefirstname} ${props.row.employelastname}` }}</q-chip>
                    </q-item-label>
                    <q-item-label v-else :class="col.classes ? col.classes : ''">{{ col.value }}</q-item-label>
                  </div>
                </div>
              </q-list>
            </q-card>
          </div>
      </template>
    </q-table>
  </q-page>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'PageIndex',
  data() {
    return ({
      loading: false,
      search: '',
      pagination: {
        sortBy: 'desc',
        descending: false,
        page: 1,
        rowsPerPage: 5,
        rowsNumber: 10
      },
      editedChild: null,
      show_dialog: false,
      show_delete_dialog: false,
      editedItem: {
        firstname: "",
        lastname: "",
        employe: "",
      },
      columns: [
        { name: 'firstname', label: 'Nom', field: 'firstname' },
        { name: 'lastname', label: "Prénoms", field: 'lastname' },
        { name: 'employe_id', label: "Parent", field: 'employe_id' },
        { name: 'actions', label: 'Actions', field: 'actions' }
      ]
    })
  },
  computed: {
    ...mapGetters('employes', ['employes']),
    ...mapGetters('childs', ['childs']),
    filters() {
        return {
            filter: this.search,
        }
    },
    selectEmployes() {
        return this.employes.results.map(employe => ({
            label: `${employe.firstname} ${employe.lastname}`,
            value: employe.id
        }))
    }
  },
  methods: {
    ...mapActions('employes', ['getEmployes']),
    ...mapActions('childs', ['createChild', 'modifyChild', 'removeChild', 'getChilds']),
    openDialog() {
      this.getEmployes({ filter: "", filterByFiliale: 0, page: 1, rowsPerPage: 0 });
      this.resetChildFields();
      this.editedChild = null;
      this.show_dialog = true;
    },
    onAdd() {
      const { editedItem, editedChild } = this;
      this.loading = true;

      // Validate the form
      this.$refs.firstname.validate();
      this.$refs.lastname.validate();
      this.$refs.employe.validate();
      if (
        this.$refs.firstname.hasError ||
        this.$refs.lastname.hasError ||
        this.$refs.employe.hasError
      ) {
        this.loading = false;
        return;
      }

      if(!editedChild) {
        this.createChild({ ...editedItem, employe_id: editedItem.employe.value }).then(() => {
          this.onRequest({ pagination: this.pagination, filter: { filter:this.search } });
          this.$q.notify({ type: 'positive', message: 'Enfant créé avec succès!' });
          this.loading = false;
          this.resetChildFields();
        }).catch(error => {
          this.$q.notify({ type: 'negative', message: "Erreur lors de la création de l'enfant!" });
          this.loading = false;
        });
      } else {
        this.modifyChild({ id: editedChild, data: {...editedItem, employe_id: editedItem.employe.value} }).then(() => {
          this.onRequest({ pagination: this.pagination, filter: { filter:this.search } });
          this.$q.notify({ type: 'positive', message: 'Enfant modifiée avec succès!' });
          this.loading = false;
          this.resetChildFields();
        }).catch(error => {
          this.$q.notify({ type: 'negative', message: "Erreur lors de la modification de la l'enfant!" });
          this.loading = false;
        });
      }
      this.show_dialog = false;
    },
    onRemove({ id }) {
      if(window.confirm('Voulez vous vraiment supprimé cet enfant ?')) {
        this.loading = true;
        this.removeChild(id).then(() => {
          this.onRequest({ pagination: this.pagination, filter: { filter:this.search } });
          this.$q.notify({ type: 'positive', message: 'Enfant supprimé avec succès!' });
          this.loading = false;
        }).catch(error => {
          this.$q.notify({ type: 'negative', message: "Erreur lors de la suppression de l'enfant!" });
          this.loading = false;
        });
      }
    },
    editItem(child) {
      this.editedChild = child.id;
      this.editedItem = Object.assign({}, {...child, employe: {value: child.employee_id, label: `${child.employefirstname} ${child.employelastname}`}});
      this.show_dialog = true;
    },
    resetChildFields() {
        this.editedItem = {
        firstname: "",
        lastname: "",
        employe: "",
      }
    },
    onRequest({ filter, pagination }) {
      this.loading = true;
      this.getChilds({ ...filter, ...pagination }).then(({count}) => {
        this.loading = false;
        this.pagination.rowsNumber = count;
        this.pagination.page = pagination.page;
        this.pagination.rowsPerPage = pagination.rowsPerPage;
      })

    }
  },
  created() {
    this.onRequest({ pagination: this.pagination, filter: { filter:this.search } });
  }
}
</script>
