<template>
  <q-page class="q-pa-md">
    <div class="text-primary text-h4 text-center q-mb-sm"><q-icon name="sensor_window" size="xl"/>FILIALES</div>
    <q-table
      :grid="$q.screen.xs"
      :loading="loading"
      :columns="columns"
      :data="filiales.results"
      :filter="search"
      :pagination.sync="pagination"
      @request="onRequest"
      row-key="name"
      binary-state-sort
    >
      <template v-slot:top-left>
        <q-btn
          dense
          :disable="loggedAs.role !== 'admin'"
          color="blue-8"
          icon="add"
          label="Ajouter une filiale"
          no-caps
          @click="openDialog"
        />

        <div class="q-pa-sm q-gutter-sm">
          <q-dialog v-model="show_dialog">
            <q-card>
              <q-card-section class="flex">
                <div class="text-h6">Nouvelle filiale!</div>
                <q-space />
                <q-btn icon="close" flat round dense v-close-popup />
              </q-card-section>

              <form @submit.prevent.stop="onAdd">
                <q-card-section>
                  <div class="row">
                    <q-input
                      ref="name"
                      v-model="editedItem.name"
                      label="Nom de la filiale"
                      :rules="[val => val && val.length > 0 || 'Champ obligatoire']"
                    />
                  </div>
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Confirmer" type="submit" color="primary"></q-btn>
                </q-card-actions>
              </form>
            </q-card>
          </q-dialog>
        </div>

        <div class="q-pa-sm q-gutter-sm">
          <q-dialog full-width v-model="show_list_employes">
            <q-card>
              <q-card-section class="flex">
                <div class="text-h6">Liste des employés de la filiale <span>'{{listedEmployesFiliale.name || ""}}'</span></div>
                <q-space />
                <q-btn icon="close" flat round dense v-close-popup />
              </q-card-section>

              <EmployesList :employes="listedEmployes" />
            </q-card>
          </q-dialog>
        </div>
      </template>

      <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="search" placeholder="Chercher une filiale">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="name" :props="props">
            {{ props.row.name }}
            <q-popup-edit v-model="props.row.name">
              <q-input v-model="props.row.name" dense autofocus counter ></q-input>
            </q-popup-edit>
          </q-td>
          <q-td key="numberemployees" :props="props">
            {{ props.row.numberemployees }}
          </q-td>
          <q-td key="actions" :props="props">
            <q-btn :disable="loggedAs.role !== 'admin'" class="q-mr-sm" color="blue" label="Modifier" @click="editItem(props.row)" size=sm no-caps></q-btn>
            <q-btn :disable="loggedAs.role !== 'admin'" color="red" label="Supprimer" @click="onRemove(props.row)" size=sm no-caps></q-btn>
            <q-btn class="q-ml-sm" color="teal" @click="listEmployes(props.row)" label="Employes" size=sm no-caps></q-btn>
          </q-td>
        </q-tr>
      </template>

      <template v-slot:item="props">
          <div
            class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
            :style="props.selected ? 'transform: scale(0.95);' : ''"
          >
            <q-card class="q-pa-sm">
              <q-list dense>
                <div class="row q-ma-sm" v-for="col in props.cols" :key="col.name">
                  <div class="col-12">
                    <q-item-label caption>{{ col.label }}</q-item-label>
                  </div>
                  <div>
                    <q-td v-if="col.name === 'actions'" key="actions" :props="props">
                      <q-btn :disable="loggedAs.role !== 'admin'" class="q-mr-sm" color="blue" label="Modifier" @click="editItem(props.row)" size=sm no-caps></q-btn>
                      <q-btn :disable="loggedAs.role !== 'admin'" color="red" label="Supprimer" @click="onRemove(props.row)" size=sm no-caps></q-btn>
                      <q-btn class="q-ml-sm" color="teal" @click="listEmployes(props.row)" label="Employes" size=sm no-caps></q-btn>
                    </q-td>
                    <q-item-label v-else :class="col.classes ? col.classes : ''">{{ col.value }}</q-item-label>
                  </div>
                </div>
              </q-list>
            </q-card>
          </div>
      </template>
    </q-table>
  </q-page>
</template>

<script>
import instance from '../services/instance';
import { mapActions, mapGetters } from 'vuex';
import EmployesList from '../components/EmployesList';

export default {
  name: 'PageIndex',
  data() {
    return ({
      loading: false,
      search: '',
      pagination: {
        sortBy: 'desc',
        descending: false,
        page: 1,
        rowsPerPage: 5,
        rowsNumber: 10
      },
      editedFiliale: null,
      listedEmployesFiliale: {},
      listedEmployes: [],
      show_dialog: false,
      show_list_employes: false,
      editedItem: {
        name: "",
      },
      columns: [
        { name: 'name', label: 'Nom de la filiale', field: 'name' },
        { name: 'numberemployees', label: "Nombre d'employes", field: 'numberemployees' },
        { name: 'actions', label: 'Actions', field: 'actions' }
      ]
    })
  },
  components: { EmployesList },
  computed: {
    ...mapGetters('filiales', ['filiales']),
    ...mapGetters('auth', ['loggedAs'])
  },
  methods: {
    ...mapActions('filiales', ['createFiliale', 'getFiliales', 'deleteFiliale', 'modifyFiliale']),
    openDialog() {
      this.editedFiliale = null;
      this.editedItem = { name: "" }
      this.show_dialog = true;
    },
    onAdd() {
      const { editedItem, editedFiliale } = this;
      this.loading = true;

      // Validate the form
      this.$refs.name.validate()
      if (this.$refs.name.hasError) {
        this.loading = false;
        return;
      }

      if(!editedFiliale) {
        this.createFiliale(editedItem).then(() => {
          this.onRequest({ pagination: this.pagination, filter: this.search });
          this.$q.notify({ type: 'positive', message: 'Filiale créé avec succès!' });
          this.loading = false;
          this.editedItem = { name: "" }
        }).catch(error => {
          this.$q.notify({ type: 'negative', message: error.response.data.message || 'Erreur lors de la création de la filiale!' });
          this.loading = false;
        });
      } else {
        this.modifyFiliale({ id: editedFiliale, data: editedItem }).then(() => {
          this.onRequest({ pagination: this.pagination, filter: this.search });
          this.$q.notify({ type: 'positive', message: 'Filiale modifiée avec succès!' });
          this.loading = false;
          this.editedItem = { name: "" }
        }).catch(error => {
          this.$q.notify({ type: 'negative', message: 'Erreur lors de la modification de la filiale!' });
          this.loading = false;
        });
      }
      this.show_dialog = false;
    },
    onRemove({ id }) {
      if(window.confirm('Voulez vous vraiment supprimé cette filiale ?')) {
        this.loading = true;
        this.deleteFiliale(id).then(() => {
          this.onRequest({ pagination: this.pagination, filter: this.search });
          this.$q.notify({ type: 'positive', message: 'Filiale supprimée avec succès!' });
          this.loading = false;
        }).catch(error => {
          this.$q.notify({ type: 'negative', message: 'Erreur lors de la suppression de la filiale!' });
          this.loading = false;
        });
      }
    },
    editItem(filiale) {
      this.editedFiliale = filiale.id;
      this.editedItem = Object.assign({}, { name: filiale.name });
      this.show_dialog = true;
    },
    listEmployes(filiale) {
      this.show_list_employes = true;
      this.listedEmployesFiliale = filiale;
      instance.get(`/employes/filiale/${filiale.id}`).then(({data}) => {
        this.listedEmployes = data;
      })
    },
    onRequest({ filter, pagination }) {
      this.loading = true;
      this.getFiliales({ filter, ...pagination }).then(({count}) => {
        this.pagination.rowsNumber = count;
        this.pagination.page = pagination.page;
        this.pagination.rowsPerPage = pagination.rowsPerPage;
        this.loading = false;
      })

    }

  },
  created() {
    this.onRequest({ pagination: this.pagination, filter: this.search });
  }
}
</script>
