<template>
  <div class="column justify-center items-center window-height window-width">
    <h2>SFP Login</h2>
    <form @submit.prevent="handleSubmit" class="row q-gutter-xl justify-center">
      <div class="col-8"><q-input v-model="mail" label="Votre mail" /></div>
      <div class="col-8"><q-input v-model="password" type="password" label="Votre mot de passe" /></div>
      <div><q-btn color="primary" type="submit" :loading="loading" label="Connexion" /></div>
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'LoginPage',
  data() {
    return ({
      mail: "",
      password: "",
      loading: false
    });
  },
  methods: {
    ...mapActions("auth", ["login"]),
    handleSubmit() {
      const vm = this;
      this.loading = true;
      const { mail, password } = this;
      this.login({ mail: mail.trim().toLowerCase(), password })
        .then((data) => {
          this.$q.notify({
            type: 'positive',
            message: 'Connection réussie!'
          });

          if(!data.lastlogin) {
            vm.$router.push('/profile');
            this.$q.notify({ type: 'warning', message: 'Premiere connexion, veuillez modifier votre mot de passe', timeout: 4000 })
          }
          else vm.$router.push('/');
        })
        .catch(error => {
          this.$q.notify({
            type: 'negative',
            message: 'Erreur lors de la connection!'
          });
          console.log(error);
        })
        .finally(() => {
          vm.loading = false;
        })
    }
  }
}
</script>
