<template>
  <q-page class="q-pa-md">
    <q-card>
        <q-card-section>
            <div class="row">
                <div class="col-xs-12 q-pa-md text-center self-center">
                    <q-avatar size="100px" font-size="80px" color="blue" text-color="white" icon="person_pin" />
                    <div class="text-h5 q-mt-md">{{ `${loggedAs.firstname} ${loggedAs.lastname}`}}</div>
                    <div class="q-mt-xs">{{ loggedAs.description }}</div>
                    <div class="bg-grey-3 q-pa-md">
                        <form ref="changePassword" @submit.prevent="handlePasswordChange">
                            <div><q-input ref="oldpassword" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="passwordChange.oldpassword" type="password" label="Ancien Mot de passe"></q-input></div>
                            <div><q-input ref="newpassword" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="passwordChange.newpassword" type="password" label="Nouveau Mot de passe"></q-input></div>
                            <div><q-input ref="newpasswordconfirm" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="passwordChange.newpasswordconfirm" type="password" label="Confirmer Mot de passe"></q-input></div>
                            <div><q-btn label="Changer Mot de passe" type="submit" color="primary"></q-btn></div>
                        </form>
                    </div>
                </div>
                <div class="col-xs-12 q-pa-md">
                    <div class="text-weight-light text-grey-8">Edition des informations de votre profil</div>
                    <form @submit.prevent="handleEditInfo">
                        <div class="row">
                            <div class="col-12"><q-input ref="firstname" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="editedItem.firstname" label="Nom"></q-input></div>
                            <div class="col-12"><q-input ref="lastname" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="editedItem.lastname" label="Prenoms"></q-input></div>
                            <div class="col-12"><q-input ref="description" :rules="[val => val && val.length > 0 || 'Champ obligatoire']" v-model="editedItem.description" label="Description"></q-input></div>
                            <div class="col-12"><q-input type="email" ref="mail" :rules="[val => val && val.length > 0 || 'Champ obligatoire', isValidEmail]" v-model="editedItem.mail" label="Mail"></q-input></div>
                        </div>

                        <q-card-actions align="right">
                            <q-btn label="Modifier" type="submit" color="primary"></q-btn>
                        </q-card-actions>
                    </form>
                </div>
            </div>
        </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import instance from '../services/instance';
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'PageIndex',
  data() {
    return ({
        editedItem: {
            firstname: "",
            lastname: "",
            description: "",
            mail: "",
        },
        passwordChange: {
            oldpassword: "",
            newpassword: "",
            newpasswordconfirm: "",
        }
    })
  },
  computed: {
      ...mapGetters('auth', ['loggedAs'])
  },
  methods: {
    ...mapActions("auth", ["profile"]),
    isValidEmail (val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(val) || 'Mail incorrect';
    },
    handlePasswordChange() {
      const { oldpassword, newpassword, newpasswordconfirm } = this.passwordChange;
      instance.post('/auth/changepassword',{oldpassword, newpassword, newpasswordconfirm}).then(data => {
          this.$q.notify({ type: 'positive', message: 'Changement du mot de passe effectué' });
          this.resetPasswordFields();
      }).catch(error => {
          if(error.response) this.$q.notify({ type: 'negative', message: error.response.data.message });
          else this.$q.notify({ type: 'negative', message: 'Erreur lors du changement de mot de passe' });
      });
    },
    resetPasswordFields() {
        this.passwordChange = {
            oldpassword: "",
            newpassword: "",
            newpasswordconfirm: "",
        }
    },
    handleEditInfo() {
      const authId = JSON.parse(localStorage.getItem("authId"));
      instance.patch('/auth/updateuser',this.editedItem).then(data => {
        this.profile(authId);
        this.$q.notify({ type: 'positive', message: 'Mise a jour des informations effectué' });
      }).catch(error => {
        if(error.response) this.$q.notify({ type: 'negative', message: error.response.data.message });
        else this.$q.notify({ type: 'negative', message: 'Erreur lors de la mise a jour des informations' });
      });
    }
  },
  created() {
    this.editedItem = Object.assign({}, { ...this.loggedAs, password: "" });
  },
  watch: {
    loggedAs: function() {
      if(this.loggedAs) {
        this.editedItem = Object.assign({}, { ...this.loggedAs, password: "" });
      }
    }
  }
}
</script>
