<template>
    <q-table
      :grid="$q.screen.xs"
      :columns="columns"
      :data="employes"
      row-key="name"
    >

    <template v-slot:body="props">
        <q-tr :props="props">
            <q-td key="firstname" :props="props">{{ props.row.firstname }}</q-td>
            <q-td key="lastname" :props="props">{{ props.row.lastname }}</q-td>
            <q-td key="birthdate" :props="props">{{ props.row.birthdate | plainDate }}</q-td>
            <q-td key="place_of_birth" :props="props">{{ props.row.place_of_birth }}</q-td>
            <q-td key="nationality" :props="props">{{ props.row.nationality }}</q-td>
            <q-td key="languages" :props="props">
            <q-chip size="sm" v-for="(language, index) in props.row.languages" :key="index" square icon="language">{{language}}</q-chip>
            </q-td>
            <q-td key="cnss_number" :props="props">{{ props.row.cnss_number }}</q-td>
            <q-td key="identity_number" :props="props">{{ props.row.identity_number }}</q-td>
            <q-td key="filiale_id" :props="props">
                <!-- Filiale's name -->
                <q-chip size="sm" square icon="sensor_window" color="teal-3" text-color="grey-9">{{ props.row.filialename }}</q-chip>
            </q-td>
        </q-tr>
    </template>

    <template v-slot:item="props">
          <div
            class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
            :style="props.selected ? 'transform: scale(0.95);' : ''"
          >
            <q-card class="q-pa-sm">
              <q-list dense>
                <div class="row q-ma-sm" v-for="col in props.cols" :key="col.name">
                  <div class="col-12">
                    <q-item-label caption>{{ col.label }}</q-item-label>
                  </div>
                  <div>
                    <q-item-label v-if="col.name === 'actions'" :props="props">
                      <q-btn class="q-mr-sm" color="blue" label="Modifier" @click="editItem(props.row)" size=sm no-caps></q-btn>
                      <q-btn color="red" label="Supprimer" @click="onRemove(props.row)" size=sm no-caps></q-btn>
                    </q-item-label>
                    <q-item-label v-else-if="col.name === 'birthdate'" :props="props">
                      {{ col.value | plainDate }}
                    </q-item-label>
                    <q-item-label v-else-if="col.name === 'languages'" :props="props">
                      <q-chip size="sm" v-for="(language, index) in col.value" :key="index" square icon="language">{{language}}</q-chip>
                    </q-item-label>
                    <q-item-label v-else-if="col.name === 'filiale_id'" :props="props">
                      <q-chip size="sm" square icon="sensor_window" color="teal-3" text-color="grey-9">{{ props.row.filialename }}</q-chip>
                    </q-item-label>
                    <q-item-label v-else :class="col.classes ? col.classes : ''">{{ col.value }}</q-item-label>
                  </div>
                </div>
              </q-list>
            </q-card>
          </div>
      </template>
    </q-table>
</template>

<script>
export default {
    name: 'listEmployes',
    props: ['employes'],
    data() {
        return {
            columns: [
                { name: 'firstname', label: 'Nom', field: 'firstname' },
                { name: 'lastname', label: "Prénoms", field: 'lastname' },
                { name: 'birthdate', label: "Date de naissance", field: 'birthdate' },
                { name: 'place_of_birth', label: "Lieu de naissance", field: 'place_of_birth' },
                { name: 'nationality', label: "Nationnalité", field: 'nationality' },
                { name: 'languages', label: "Languages", field: 'languages' },
                { name: 'cnss_number', label: "Numéro CNSS", field: 'cnss_number' },
                { name: 'identity_number', label: "Numéro piece identité", field: 'identity_number' },
                { name: 'filiale_id', label: "Filiale", field: 'filiale_id' },
            ]
        }
    }
}
</script>