<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          SFP
        </q-toolbar-title>

        <div><q-btn @click="handleLogout" flat round color="white" icon="logout" /></div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <div class="row q-pa-md bg-blue-2">
        <div class="col-5">
          <q-avatar size="80px" font-size="52px" color="blue" text-color="white" icon="person_pin" />
        </div>
        <div class="col-7 text-bold">
          <div>{{`${loggedAs.firstname} ${loggedAs.lastname}`}}</div>
          <div class="text-weight-light">{{`${loggedAs.description}`}}</div>
          <div>
            <router-link to="/profile" tag="div">
              <q-btn color="teal" size="sm" icon="manage_accounts" label="Mon profil"/>
            </router-link>
          </div>
        </div>
      </div>
      <q-list>
        <router-link to="/filiales" tag="div" class="item item-link drawer-closer">
        <q-item clickable v-ripple :active="this.$route.path === '/filiales'">
          <q-item-section avatar>
            <q-icon color="primary" name="sensor_window" />
          </q-item-section>
          <q-item-section>Filiales</q-item-section>
        </q-item>
        </router-link>

        <router-link to="/directors" tag="div" class="item item-link drawer-closer">
        <q-item clickable v-ripple :active="this.$route.path === '/directors'">
          <q-item-section avatar>
            <q-icon color="primary" name="supervisor_account" />
          </q-item-section>
          <q-item-section>Directeurs</q-item-section>
        </q-item>
        </router-link>

        <router-link to="/employes" tag="div" class="item item-link drawer-closer">
        <q-item clickable v-ripple :active="this.$route.path === '/employes'">
          <q-item-section avatar>
            <q-icon color="primary" name="person_search" />
          </q-item-section>
          <q-item-section>Employés</q-item-section>
        </q-item>
        </router-link>

        <router-link to="/enfants" tag="div" class="item item-link drawer-closer">
        <q-item clickable v-ripple :active="this.$route.path === '/enfants'">
          <q-item-section avatar>
            <q-icon color="primary" name="insert_emoticon" />
          </q-item-section>
          <q-item-section>Enfants</q-item-section>
        </q-item>
        </router-link>
      </q-list>
    </q-drawer>

    <q-page-container>
      <div class="generalStats justify-between row q-mt-md q-pa-md">
        <div class="col-xs-12 col-sm-6 col-md-2 q-mb-xs">
          <q-card class="my-card">
            <q-card-section>
              <div class="row">
                <div class="col-6">
                  <div class="text-bold text-grey-6">Filiales</div>
                  <div class="text-h4">{{filiales.allCount}}</div>
                </div>
                <div class="col-6">
                  <q-icon name="sensor_window" size="xl" color="blue" />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 q-mb-xs">
          <q-card class="my-card">
            <q-card-section>
              <div class="row">
                <div class="col-6">
                  <div class="text-bold text-grey-6">Directeurs</div>
                  <div class="text-h4">{{directors.allCount}}</div>
                </div>
                <div class="col-6">
                  <q-icon name="supervisor_account" size="xl" color="blue" />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 q-mb-xs">
          <q-card class="my-card">
            <q-card-section>
              <div class="row">
                <div class="col-6">
                  <div class="text-bold text-grey-6">Employes</div>
                  <div class="text-h4">{{ employes.allCount }}</div>
                </div>
                <div class="col-6">
                  <q-icon name="person_search" size="xl" color="blue" />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 q-mb-xs">
          <q-card class="my-card">
            <q-card-section>
              <div class="row">
                <div class="col-6">
                  <div class="text-bold text-grey-6">Enfants</div>
                  <div class="text-h4">{{ childs.allCount }}</div>
                </div>
                <div class="col-6">
                  <q-icon name="insert_emoticon" size="xl" color="blue" />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>

      </div>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import instance from '../services/instance';
import EssentialLink from 'components/EssentialLink.vue'
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
    }
  },
  computed: {
    ...mapGetters("auth", ["isLogged", "loggedAs"]),
    ...mapGetters("filiales", ["filiales"]),
    ...mapGetters("employes", ["employes"]),
    ...mapGetters("childs", ["childs"]),
    ...mapGetters("directors", ["directors"]),
  },
  methods: {
    ...mapActions("auth", ["logout", "profile"]),
    ...mapActions("employes", ["getEmployes"]),
    ...mapActions("childs", ["getChilds"]),
    ...mapActions("filiales", ["getFiliales"]),
    ...mapActions("directors", ["getDirectors"]),
    handleLogout() {
      const vm = this;
      this.logout().then(() => {
        this.$q.notify({
            type: 'positive',
            message: 'Merci de la visite!'
        });
        vm.$router.push('/login');
      });
    }
  },
  beforeRouteEnter: (to, from, next) => {
    const token = JSON.parse(localStorage.getItem("authoken"));
    if(!token) next('/login');
    else next();
  },
  created() {
    const authId = JSON.parse(localStorage.getItem("authId"));
    this.profile(authId);
    this.getEmployes();
    this.getFiliales();
    this.getChilds();
    this.getDirectors();

    // Set the login timestamp
    instance.patch('/auth/updateuser',{ lastlogin: new Date().toISOString() });
  }
}
</script>
